<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <link rel="icon" type="image/png" href="{{url_for('static', filename='image/favicon.png')}}">
    <title>Food Truck Robot</title>
  </head>
  <body>
    <!-- Top -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-4 text-start mt-1">
            <span class="badge bg-secondary">{{ name }}</span>
            <span class="badge bg-secondary">{{ date }}</span>
          </div>

          <div class="col-4">
            <img src="{{url_for('static', filename='image/banner.jpg')}}" class="img-thumbnail" alt="Foodtruckrobot">
          </div>

          <div class="col-4 text-end mt-1">
            <a href="/conversation" type="button" class="btn btn-primary">
              Messages{% if unread_number > 0 %} <span class="badge bg-secondary">{{ unread_number }}</span>{% endif %}
            </a>
            <a href="/settings" type="button" class="btn btn-secondary text-middle"><i class="bi bi-gear-fill bi-align-middle" style="font-size: 1.5rem;"></i></a>
            <a href="/logout" type="button" class="btn btn-danger">Logout</a>
          </div>
        </div>
    </div>

    <!-- Content -->
    <!-- Tab list -->
    <ul class="nav nav-tabs">
      {% for foodtruck in foodtrucks %}
        <li class="nav-item">
          <a href="/{{ foodtruck.name }}" class="nav-link {% if foodtruck.selected %}active{% endif %}" aria-current="page">{{ foodtruck.name }}</a>
        </li>
      {% endfor %}
    </ul>

    <!-- Menu -->
    <ol class="list-group">
      {% for menu in menus %}
        <a href="#" class="list-group-item d-flex justify-content-between align-items-start" data-bs-toggle="modal" data-bs-target="#order-{{ loop.index }}">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ menu.name }}</div>
            <span class="text-muted">{{ menu.description }}</span>
          </div>
          <span class="badge bg-primary rounded-pill">{{ menu.price }}€</span>
        </a>
      {% endfor %}
    </ol>

    <!-- Submenu -->
    {% for menu in menus %}
      {% set menu_index = loop.index %}

      <!-- Order modal, one by menu -->
      <div class="modal fade" id="order-{{ menu_index }}" tabindex="-1" aria-labelledby="order-{{ menu_index }}-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form method="post">

              <!-- Data -->
              <input id="order-{{ menu_index }}-name" name="menu" type="hidden" value="{{ menu.name }}">
              <input id="order-{{ menu_index }}-price" name="menu" type="hidden" value="{{ menu.price }}">

              <!-- Order modal title -->
              <div class="modal-header">
                <h5 class="modal-title" id="order-{{ menu_index }}-label">{{ menu.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <!-- Order modal body, contains each category of subitem and the subitems -->
              <div class="modal-body">
                <div class="accordion accordion-flush">

                  <!-- Categories -->
                  {% for category, items in menu.subitems.items() %}
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="order-{{ menu_index }}-{{ loop.index + 1 }}-flush">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#order-{{ menu_index }}-{{ loop.index + 1 }}-flush-2" aria-expanded="false" aria-controls="order-{{ menu_index }}-{{ loop.index + 1 }}-flush-2">
                          {{ category }}
                        </button>
                      </h2>

                      <!-- Data -->
                      <input id="order-{{ menu_index }}-{{ category }}-price" name="menu" type="hidden" value="0">

                      <!-- None -->
                      <div id="order-{{ menu_index }}-{{ loop.index + 1 }}-flush-2" class="accordion-collapse collapse" aria-labelledby="order-{{ menu_index }}-{{ loop.index + 1 }}-flush">
                        <div class="accordion-body">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{ category }}" id="order-{{ menu_index }}-{{ category }}-0" value="order-{{ menu_index }}-{{ category }}-0" checked>
                            <label class="form-check-label" for="order-{{ menu_index }}-{{ category }}-0">
                              Non merci!
                            </label>
                          </div>

                          <!-- Category items -->
                          {% for item in items %}
                            <div class="form-check">
                              <div class="row">

                                <!-- Name + radio -->
                                <div class="col-3">
                                  <input class="form-check-input " type="radio" name="{{ category }}" id="order-{{ menu_index }}-{{ category }}-{{ loop.index }}" value="order-{{ menu_index }}-{{ category }}-{{ loop.index }}">
                                  <label class="form-check-label" for="order-{{ menu_index }}-{{ category }}-{{ loop.index }}">
                                    {{ item.name }}
                                  </label>
                                </div>

                                <!-- Description -->
                                <div class="col-6">
                                  <label class="form-check-label text-muted" for="order-{{ menu_index }}-{{ category }}-{{ loop.index }}">
                                    {{ item.description }}
                                  </label>
                                </div>

                                <!-- Price -->
                                <div class="col-3 text-end">
                                  <span class="badge bg-secondary">{{ item.price }}€</span>
                                </div>
                              </div>
                            </div>
                          {% endfor %}

                        </div>
                      </div>
                    </div>
                  {% endfor %}

                </div>
                <hr/>

                <!-- Total -->
                <h5><div class="text-end"><span class="badge bg-secondary">Total: {{ menu.price }}€</span></div></h5>
              </div>

              <!-- Buttons !-->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary" role="button">Commander</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </body>
</html>

