{% extends 'layouts/layout_not_logged.html' %}
{% block content %}
<!-- Username form -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 col-md-3">
            <div class="card text-center mt-3">
                <div class="card-body">
                    <h5 class="text mt-3 mb-3">Entrez votre nom</h5>
                    <form class="text-center" method="post">
                        <div class="form-floating">
                            <input type="text" class="form-control mb-3" id="usernameInput" name=username>
                            <label for="usernameInput">Nom</label>
                        </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}