{% extends 'layouts/layout_not_logged.html' %}
{% block content %}
<!-- Username form -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 col-lg-4">
            <div class="card text-center mt-3">
                <div class="card-body">
                    <h5 class="text mt-3 mb-3">Entrez votre nom</h5>
                    <form class="text-center" method="post">
                        <div class="form-floating">
                            <!-- Username -->
                            <input type="text" class="form-control mb-3" id="usernameInput" name="username">
                            <label for="usernameInput">Nom</label>
                        </div>
                        <div class="form-floating">
                            <!-- Password -->
                            <input type="text" class="form-control mb-3" id="passwordInput" name=password">
                            <label for="passwordInput">Password</label>
                        </div>
                        <button type="submit" class="btn btn-primary border-bottom col-8">Login</button>
                    </form>

                    <!-- Login using azure auth -->
                    <a href="/login_azure" class="btn btn-outline-primary col-8"><i class="bi bi-microsoft"></i> Login with azure</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}