{% extends 'layouts/layout_logged.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card mt-3">
                <div class="card-body">

                    <!-- Price data -->
                    <div class="row">
                      <div class="col-12 text-start mt-1">
                          <span class="badge bg-secondary">cout total: {{'%0.2f'| format(price_data.total_coast|float)}}€</span>
                          <span class="badge bg-{% if price_data.balance > 3 %}primary{% else %}danger{% endif %}">solde: {{'%0.2f'| format(price_data.balance|float)}}€</span>
                      </div>
                    </div>
                    <hr/>

                    <!-- Foodtruck settings -->
                    <h4>Paramètres foodtrucks</h4>
                    <form method="post">
                        <table class="table">
                            <thead>
                                <tr>
                                  <th scope="col">Nom</th>
                                  <th scope="col">Activé</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for foodtruck in foodtrucks %}
                                        <td>
                                            <label class="form-check-label" for="f-{{ loop.index }}">{{ foodtruck.name }}</label>
                                        </td>
                                        <td>
                                            <input class="form-check-input" type="checkbox" {% if foodtruck.enabled  %}checked="checked"{% endif %} id="f-{{ loop.index }}" name="{{ foodtruck.name }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                            <a href="/" type="button" class="btn btn-secondary">Retour</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


